<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="icon" type="image/x-icon" th:href="@{/images/logo/favicon.ico}"/>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>[[${@environment.getProperty('domain_name')} ? ${@environment.getProperty('domain_name')} : 'Restro Menu Crafter']]</title>

	<!-- Own CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
	
	<!-- Third party JS -->
	<script type="text/javascript"  th:src="@{/js/global/jquery-3.6.0.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/global/bootstrap.min-5.3.1.js}"></script>
	<script type="text/javascript" th:src="@{/vendor/aos/aos.js}"></script>
	<script type="text/javascript" th:src="@{/vendor/glightbox/glightbox.min.js}"></script>
	<script type="text/javascript" th:src="@{/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
	<script type="text/javascript" th:src="@{/vendor/swiper/swiper-bundle.min.js}"></script>
</head>

<body>
	<!-- Header -->
	<header id="header" class="fixed-top d-flex align-items-cente">
		<div
			class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

			<!-- LOGO -->
			<a href="#" class="logo me-auto me-lg-0"><img
				th:src="@{/images/logo/logo.png}" alt="" class="img-fluid"></a>

			<nav id="navbar" class="navbar order-last order-lg-0">
				<ul>
					<li><a class="nav-link scrollto active" href="#hero">[[${@environment.getProperty('nav_home')}
							? ${@environment.getProperty('nav_home')} : 'Home']]</a></li>
					<li><a class="nav-link scrollto" href="#about">[[${@environment.getProperty('nav_about_us')}
							? ${@environment.getProperty('nav_about_us')} : 'About Us']]</a></li>
					<li><a class="nav-link scrollto" href="#menu">[[${@environment.getProperty('nav_menu_templates')}
							? ${@environment.getProperty('nav_menu_templates')} : 'Menu
							Templates']]</a></li>
					<li><a class="nav-link scrollto" href="#services">[[${@environment.getProperty('nav_services')}
							? ${@environment.getProperty('nav_services')} : 'Services']]</a></li>
					<!-- <li><a class="nav-link scrollto" href="#founders">[[${@environment.getProperty('nav_founders')}
							? ${@environment.getProperty('nav_founders')} : 'Founders']]</a></li> -->
					<li><a class="nav-link scrollto" href="#contact">[[${@environment.getProperty('nav_contact')}
							? ${@environment.getProperty('nav_contact')} : 'Contact']]</a></li>
				</ul>
				<i class="bi bi-list mobile-nav-toggle"></i>
			</nav>

			<a th:href="@{/login}" class="login-btn scrollto d-none d-lg-flex">[[${@environment.getProperty('login_btn')}
				? ${@environment.getProperty('login_btn')} : 'Login']]</a>
		</div>
	</header>
	<!-- End Header -->

	<!-- hero Section -->
	<section id="hero" class="d-flex align-items-center">
		<div class="container position-relative text-center text-lg-start"
			data-aos="zoom-in" data-aos-delay="100">
			<div class="row">
				<div class="col-lg-8">
					<h1>
						[[${@environment.getProperty('welcome_to')} ?
						${@environment.getProperty('welcome_to')} : 'Welcome to']] <span>[[${@environment.getProperty('domain_name')}
							? ${@environment.getProperty('domain_name')} : 'Restro Menu
							Crafter']]</span>
					</h1>
					<h2>[[${@environment.getProperty('slogan_heading')} ?
						${@environment.getProperty('slogan_heading')} : 'Lets Build a
						digital Menu for your Restaurant.']]</h2>

					<div class="btns">
						<a href="#menu" class="btn-menu animated fadeInUp scrollto">[[${@environment.getProperty('nav_menu_templates')}
							? ${@environment.getProperty('nav_menu_templates')} : 'Menu
							Templates']] </a> <a th:href="@{/login}"
							class="btn-book animated fadeInUp scrollto">[[${@environment.getProperty('login_btn')}
							? ${@environment.getProperty('login_btn')} : 'Login']]</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End hero -->

	<main id="main">

		<!-- About Section -->
		<section id="about" class="about">
			<div class="container" data-aos="fade-up">

				<div class="row">
					<div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in"
						data-aos-delay="100">
						<div class="about-img">
							<img th:src="@{/images/index/about.jpg}" alt="">
						</div>
					</div>
					<div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
						<h3>[[${@environment.getProperty('about_us_heading')} ?
							${@environment.getProperty('about_us_heading')} : 'Restro Menu
							Crafter is the perfect tool for restaurants to easily create and
							share their menus.']]</h3>
						<p class="fst-italic">[[${@environment.getProperty('about_us_paragraph')}
							? ${@environment.getProperty('about_us_paragraph')} : 'With our
							unique QRCode scanning feature, customers can access your menu
							instantly']]</p>
						<ul>
							<li><i class="bi bi-check-circle"></i>[[${@environment.getProperty('ul_li_point_1')}
								? ${@environment.getProperty('ul_li_point_1')} : 'Streamline
								menu creation']]</li>
							<li><i class="bi bi-check-circle"></i>
								[[${@environment.getProperty('ul_li_point_2')} ?
								${@environment.getProperty('ul_li_point_2')} : 'Instant menu
								access']]</li>
							<li><i class="bi bi-check-circle"></i>
								[[${@environment.getProperty('ul_li_point_3')} ?
								${@environment.getProperty('ul_li_point_3')} : 'Easy menu
								updates']]</li>
						</ul>
						<p>[[${@environment.getProperty('our_mission_paragraph')} ?
							${@environment.getProperty('our_mission_paragraph')} : 'Our
							mission is simple yet ambitious: to revolutionize the way
							restaurants manage their menus. We believe that a well-crafted
							menu is more than just a list of dishes; it is an invitation to
							savor a memorable dining experience. We are committed to
							providing restaurants with the tools they need to create menus
							that captivate, inspire, and connect with their customers.']]</p>
					</div>
				</div>

			</div>
		</section>
		<!-- End About Section -->

		<!-- Why Us Section -->
		<section id="why-us" class="why-us">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h2>[[${@environment.getProperty('why_us_heading')} ?
						${@environment.getProperty('why_us_heading')} : 'Why Us']]</h2>
					<p>[[${@environment.getProperty('why_us_paragraph')} ?
						${@environment.getProperty('why_us_paragraph')} : 'Why should You
						Choose Restro Menu Crafter']]</p>
				</div>

				<div class="row">

					<div class="col-lg-4">
						<div class="box" data-aos="zoom-in" data-aos-delay="100">
							<span>01</span>
							<h4>[[${@environment.getProperty('point1_heading')} ?
								${@environment.getProperty('point1_heading')} : 'Streamline menu
								creation']]</h4>
							<p>[[${@environment.getProperty('point1_paragraph')} ?
								${@environment.getProperty('point1_paragraph')} : 'We simplifies
								the process of creating a restaurant menu. You can easily add
								and organize your dishes, making it effortless to update and
								maintain your menu.']]</p>
						</div>
					</div>

					<div class="col-lg-4 mt-4 mt-lg-0">
						<div class="box" data-aos="zoom-in" data-aos-delay="200">
							<span>02</span>
							<h4>[[${@environment.getProperty('point2_heading')} ?
								${@environment.getProperty('point2_heading')} : 'Instant menu
								access']]</h4>
							<p>[[${@environment.getProperty('point2_paragraph')} ?
								${@environment.getProperty('point2_paragraph')} : 'With our
								unique QRCode scanning feature, customers can access your menu
								instantly by simply scanning the QRCode. This eliminates the
								need for physical menus.']]</p>
						</div>
					</div>

					<div class="col-lg-4 mt-4 mt-lg-0">
						<div class="box" data-aos="zoom-in" data-aos-delay="300">
							<span>03</span>
							<h4>[[${@environment.getProperty('point3_heading')} ?
								${@environment.getProperty('point3_heading')} : 'Easy menu
								updates']]</h4>
							<p>[[${@environment.getProperty('point3_paragraph')} ?
								${@environment.getProperty('point3_paragraph')} : 'We allows you
								to make quick and easy updates to your menu. Whether you want to
								add new dishes, change prices, or update descriptions, you can
								do it all in a few clicks.']]</p>
						</div>
					</div>

				</div>

			</div>
		</section>
		<!-- End Why Us Section -->

		<!-- Menu Section -->
		<section id="menu" class="menu section-bg">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h2>[[${@environment.getProperty('menu_templates_heading')} ?
						${@environment.getProperty('menu_templates_heading')} : 'Menu
						Templates']]</h2>
					<p>[[${@environment.getProperty('menu_templates_paragraph')} ?
						${@environment.getProperty('menu_templates_paragraph')} : 'Check
						Our Latest Menu Templates']]</p>
				</div>

				<div class="row" data-aos="fade-up" data-aos-delay="100">
					<div class="col-lg-12 d-flex justify-content-center">
						<ul id="menu-flters">
							<li data-filter="*" class="filter-active">All</li>
							<li data-filter=".filter-starters">Starters</li>
							<li data-filter=".filter-salads">Salads</li>
							<li data-filter=".filter-specialty">Specialty</li>
						</ul>
					</div>
				</div>

				<div class="row menu-container" data-aos="fade-up"
					data-aos-delay="200">

					<div class="col-lg-6 menu-item filter-starters">
						<img th:src="@{/images/index/menu/lobster-bisque.jpg}"
							class="menu-img" alt="">
						<div class="menu-content">
							<a href="#">Lobster Bisque</a><span>$5.95</span>
						</div>
						<div class="menu-ingredients">Lorem, deren, trataro, filede,
							nerada</div>
					</div>

					<div class="col-lg-6 menu-item filter-specialty">
						<img th:src="@{/images/index/menu/bread-barrel.jpg}"
							class="menu-img" alt="">
						<div class="menu-content">
							<a href="#">Bread Barrel</a><span>$6.95</span>
						</div>
						<div class="menu-ingredients">Lorem, deren, trataro, filede,
							nerada</div>
					</div>

					<div class="col-lg-6 menu-item filter-starters">
						<img th:src="@{/images/index/menu/cake.jpg}" class="menu-img"
							alt="">
						<div class="menu-content">
							<a href="#">Crab Cake</a><span>$7.95</span>
						</div>
						<div class="menu-ingredients">A delicate crab cake served on
							a toasted roll with lettuce and tartar sauce</div>
					</div>

					<div class="col-lg-6 menu-item filter-salads">
						<img th:src="@{/images/index/menu/caesar.jpg}" class="menu-img"
							alt="">
						<div class="menu-content">
							<a href="#">Caesar Selections</a><span>$8.95</span>
						</div>
						<div class="menu-ingredients">Lorem, deren, trataro, filede,
							nerada</div>
					</div>

					<div class="col-lg-6 menu-item filter-specialty">
						<img th:src="@{/images/index/menu/tuscan-grilled.jpg}"
							class="menu-img" alt="">
						<div class="menu-content">
							<a href="#">Tuscan Grilled</a><span>$9.95</span>
						</div>
						<div class="menu-ingredients">Grilled chicken with
							provolone, artichoke hearts, and roasted red pesto</div>
					</div>

					<div class="col-lg-6 menu-item filter-starters">
						<img th:src="@{/images/index/menu/mozzarella.jpg}"
							class="menu-img" alt="">
						<div class="menu-content">
							<a href="#">Mozzarella Stick</a><span>$4.95</span>
						</div>
						<div class="menu-ingredients">Lorem, deren, trataro, filede,
							nerada</div>
					</div>

					<div class="col-lg-6 menu-item filter-salads">
						<img th:src="@{/images/index/menu/greek-salad.jpg}"
							class="menu-img" alt="">
						<div class="menu-content">
							<a href="#">Greek Salad</a><span>$9.95</span>
						</div>
						<div class="menu-ingredients">Fresh spinach, crisp romaine,
							tomatoes, and Greek olives</div>
					</div>

					<div class="col-lg-6 menu-item filter-salads">
						<img th:src="@{/images/index/menu/spinach-salad.jpg}"
							class="menu-img" alt="">
						<div class="menu-content">
							<a href="#">Spinach Salad</a><span>$9.95</span>
						</div>
						<div class="menu-ingredients">Fresh spinach with mushrooms,
							hard boiled egg, and warm bacon vinaigrette</div>
					</div>

					<div class="col-lg-6 menu-item filter-specialty">
						<img th:src="@{/images/index/menu/lobster-roll.jpg}"
							class="menu-img" alt="">
						<div class="menu-content">
							<a href="#">Lobster Roll</a><span>$12.95</span>
						</div>
						<div class="menu-ingredients">Plump lobster meat, mayo and
							crisp lettuce on a toasted bulky roll</div>
					</div>

				</div>

			</div>
		</section>
		<!-- End Menu Section -->

		<!--  Services Section -->
		<section id="services" class="services">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h2>[[${@environment.getProperty('services_heading')} ?
						${@environment.getProperty('services_heading')} : 'Services']]</h2>
					<p>[[${@environment.getProperty('services_paragraphg')} ?
						${@environment.getProperty('services_paragraphg')} : 'Check Our
						Services']]</p>
				</div>

				<div class="row" data-aos="fade-up" data-aos-delay="100">
					<div class="col-lg-3">
						<ul class="nav nav-tabs flex-column">
							<li class="nav-item"><a class="nav-link active show"
								data-bs-toggle="tab" href="#tab-1">Modi sit est</a></li>
							<li class="nav-item"><a class="nav-link"
								data-bs-toggle="tab" href="#tab-2">Unde praesentium sed</a></li>
							<li class="nav-item"><a class="nav-link"
								data-bs-toggle="tab" href="#tab-3">Pariatur explicabo vel</a></li>
							<li class="nav-item"><a class="nav-link"
								data-bs-toggle="tab" href="#tab-4">Nostrum qui quasi</a></li>
							<li class="nav-item"><a class="nav-link"
								data-bs-toggle="tab" href="#tab-5">Iusto ut expedita aut</a></li>
						</ul>
					</div>
					<div class="col-lg-9 mt-4 mt-lg-0">
						<div class="tab-content">
							<div class="tab-pane active show" id="tab-1">
								<div class="row">
									<div class="col-lg-8 details order-2 order-lg-1">
										<h3>Architecto ut aperiam autem id</h3>
										<p class="fst-italic">Qui laudantium consequatur laborum
											sit qui ad sapiente dila parde sonata raqer a videna mareta
											paulona marka</p>
										<p>Et nobis maiores eius. Voluptatibus ut enim blanditiis
											atque harum sint. Laborum eos ipsum ipsa odit magni. Incidunt
											hic ut molestiae aut qui. Est repellat minima eveniet eius et
											quis magni nihil. Consequatur dolorem quaerat quos qui
											similique accusamus nostrum rem vero</p>
									</div>
									<div class="col-lg-4 text-center order-1 order-lg-2">
										<img th:src="@{/images/index/services/services-1.png}" alt=""
											class="img-fluid">
									</div>
								</div>
							</div>
							<div class="tab-pane" id="tab-2">
								<div class="row">
									<div class="col-lg-8 details order-2 order-lg-1">
										<h3>Et blanditiis nemo veritatis excepturi</h3>
										<p class="fst-italic">Qui laudantium consequatur laborum
											sit qui ad sapiente dila parde sonata raqer a videna mareta
											paulona marka</p>
										<p>Ea ipsum voluptatem consequatur quis est. Illum error
											ullam omnis quia et reiciendis sunt sunt est. Non aliquid
											repellendus itaque accusamus eius et velit ipsa voluptates.
											Optio nesciunt eaque beatae accusamus lerode pakto madirna
											desera vafle de nideran pal</p>
									</div>
									<div class="col-lg-4 text-center order-1 order-lg-2">
										<img sth:src="@{/images/index/services/services-2.png}" alt=""
											class="img-fluid">
									</div>
								</div>
							</div>
							<div class="tab-pane" id="tab-3">
								<div class="row">
									<div class="col-lg-8 details order-2 order-lg-1">
										<h3>Impedit facilis occaecati odio neque aperiam sit</h3>
										<p class="fst-italic">Eos voluptatibus quo. Odio similique
											illum id quidem non enim fuga. Qui natus non sunt dicta dolor
											et. In asperiores velit quaerat perferendis aut</p>
										<p>Iure officiis odit rerum. Harum sequi eum illum
											corrupti culpa veritatis quisquam. Neque necessitatibus illo
											rerum eum ut. Commodi ipsam minima molestiae sed laboriosam a
											iste odio. Earum odit nesciunt fugiat sit ullam. Soluta et
											harum voluptatem optio quae</p>
									</div>
									<div class="col-lg-4 text-center order-1 order-lg-2">
										<img th:src="@{/images/index/services/services-3.png}" alt=""
											class="img-fluid">
									</div>
								</div>
							</div>
							<div class="tab-pane" id="tab-4">
								<div class="row">
									<div class="col-lg-8 details order-2 order-lg-1">
										<h3>Fuga dolores inventore laboriosam ut est accusamus
											laboriosam dolore</h3>
										<p class="fst-italic">Totam aperiam accusamus. Repellat
											consequuntur iure voluptas iure porro quis delectus</p>
										<p>Eaque consequuntur consequuntur libero expedita in
											voluptas. Nostrum ipsam necessitatibus aliquam fugiat debitis
											quis velit. Eum ex maxime error in consequatur corporis
											atque. Eligendi asperiores sed qui veritatis aperiam quia a
											laborum inventore</p>
									</div>
									<div class="col-lg-4 text-center order-1 order-lg-2">
										<img th:src="@{/images/index/services/services-4.png}" alt=""
											class="img-fluid">
									</div>
								</div>
							</div>
							<div class="tab-pane" id="tab-5">
								<div class="row">
									<div class="col-lg-8 details order-2 order-lg-1">
										<h3>Est eveniet ipsam sindera pad rone matrelat sando
											reda</h3>
										<p class="fst-italic">Omnis blanditiis saepe eos autem qui
											sunt debitis porro quia.</p>
										<p>Exercitationem nostrum omnis. Ut reiciendis repudiandae
											minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum
											quia odit vero atque qui quibusdam amet. Occaecati sed est
											sint aut vitae molestiae voluptate vel</p>
									</div>
									<div class="col-lg-4 text-center order-1 order-lg-2">
										<img th:src="@{/images/index/services/services-5.png}" alt=""
											class="img-fluid">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>
		<!-- End services Section -->

		<!-- Testimonials Section -->
		<section id="testimonials" class="testimonials section-bg">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h2>[[${@environment.getProperty('testimonials_heading')} ?
						${@environment.getProperty('testimonials_heading')} :
						'Testimonials']]</h2>
					<p>[[${@environment.getProperty('testimonials_paragraphg')} ?
						${@environment.getProperty('testimonials_paragraphg')} : 'What
						they are saying about us']]</p>
				</div>

				<div class="testimonials-slider swiper" data-aos="fade-up"
					data-aos-delay="100">
					<div class="swiper-wrapper">

						<div class="swiper-slide">
							<div class="testimonial-item">
								<p>
									<i class="bx bxs-quote-alt-left quote-icon-left"></i>
									[[${@environment.getProperty('testimonials1_content')} ?
									${@environment.getProperty('testimonials1_content')} : 'Proin
									iaculis purus consequat sem cure digni ssim donec porttitora
									entum suscipit rhoncus. Accusantium quam, ultricies eget id,
									aliquam eget nibh et. Maecen aliquam, risus at semper.']] <i
										class="bx bxs-quote-alt-right quote-icon-right"></i>
								</p>
								<img th:src="@{/images/index/testimonials/testimonials-1.jpg}"
									class="testimonial-img" alt="">
								<h3>[[${@environment.getProperty('testimonials1_name')} ?
									${@environment.getProperty('testimonials1_name')} : 'Saul
									Goodman']]</h3>
								<h4>[[${@environment.getProperty('testimonials1_desgn')} ?
									${@environment.getProperty('testimonials1_desgn')} : 'CEO &
									Founder']]</h4>
							</div>
						</div>
						<!-- End testimonial item -->

						<div class="swiper-slide">
							<div class="testimonial-item">
								<p>
									<i class="bx bxs-quote-alt-left quote-icon-left"></i>
									[[${@environment.getProperty('testimonials2_content')} ?
									${@environment.getProperty('testimonials2_content')} : 'Export
									tempor illum tamen malis malis eram quae irure esse labore quem
									cillum quid cillum eram malis quorum velit fore eram velit sunt
									aliqua noster fugiat irure amet legam anim culpa.']] <i
										class="bx bxs-quote-alt-right quote-icon-right"></i>
								</p>
								<img th:src="@{/images/index/testimonials/testimonials-2.jpg}"
									class="testimonial-img" alt="">
								<h3>[[${@environment.getProperty('testimonials2_name')} ?
									${@environment.getProperty('testimonials2_name')} : 'Sara
									Wilsson']]</h3>
								<h4>[[${@environment.getProperty('testimonials2_desgn')} ?
									${@environment.getProperty('testimonials2_desgn')} :
									'Designer']]</h4>
							</div>
						</div>
						<!-- End testimonial item -->

						<div class="swiper-slide">
							<div class="testimonial-item">
								<p>
									<i class="bx bxs-quote-alt-left quote-icon-left"></i>
									[[${@environment.getProperty('testimonials3_content')} ?
									${@environment.getProperty('testimonials3_content')} : 'Enim
									nisi quem export duis labore cillum quae magna enim sint quorum
									nulla quem veniam duis minim tempor labore quem eram duis
									noster aute amet eram fore quis sint minim.']] <i
										class="bx bxs-quote-alt-right quote-icon-right"></i>
								</p>
								<img th:src="@{/images/index/testimonials/testimonials-3.jpg}"
									class="testimonial-img" alt="">
								<h3>[[${@environment.getProperty('testimonials3_name')} ?
									${@environment.getProperty('testimonials3_name')} : 'Jena
									Karlis']]</h3>
								<h4>[[${@environment.getProperty('testimonials3_desgn')} ?
									${@environment.getProperty('testimonials3_desgn')} : 'Store
									Owner']]</h4>
							</div>
						</div>
						<!-- End testimonial item -->

						<div class="swiper-slide">
							<div class="testimonial-item">
								<p>
									<i class="bx bxs-quote-alt-left quote-icon-left"></i>
									[[${@environment.getProperty('testimonials4_content')} ?
									${@environment.getProperty('testimonials4_content')} : 'Fugiat
									enim eram quae cillum dolore dolor amet nulla culpa multos
									export minim fugiat minim velit minim dolor enim duis veniam
									ipsum anim magna sunt elit fore quem dolore labore illum
									veniam.']] <i class="bx bxs-quote-alt-right quote-icon-right"></i>
								</p>
								<img th:src="@{/images/index/testimonials/testimonials-4.jpg}"
									class="testimonial-img" alt="">
								<h3>[[${@environment.getProperty('testimonials4_name')} ?
									${@environment.getProperty('testimonials4_name')} : 'Matt
									Brandon']]</h3>
								<h4>[[${@environment.getProperty('testimonials4_desgn')} ?
									${@environment.getProperty('testimonials4_desgn')} :
									'Freelancer']]</h4>
							</div>
						</div>
						<!-- End testimonial item -->

						<div class="swiper-slide">
							<div class="testimonial-item">
								<p>
									<i class="bx bxs-quote-alt-left quote-icon-left"></i>
									[[${@environment.getProperty('testimonials5_content')} ?
									${@environment.getProperty('testimonials5_content')} : 'Quis
									quorum aliqua sint quem legam fore sunt eram irure aliqua
									veniam tempor noster veniam enim culpa labore duis sunt culpa
									nulla illum cillum fugiat legam esse veniam culpa fore nisi
									cillum quid.']] <i
										class="bx bxs-quote-alt-right quote-icon-right"></i>
								</p>
								<img th:src="@{/images/index/testimonials/testimonials-5.jpg}"
									class="testimonial-img" alt="">
								<h3>[[${@environment.getProperty('testimonials5_name')} ?
									${@environment.getProperty('testimonials5_name')} : 'John
									Larson']]</h3>
								<h4>[[${@environment.getProperty('testimonials5_desgn')} ?
									${@environment.getProperty('testimonials5_desgn')} :
									'Entrepreneur']]</h4>
							</div>
						</div>
						<!-- End testimonial item -->

					</div>
					<div class="swiper-pagination"></div>
				</div>

			</div>
		</section>
		<!-- End Testimonials Section -->

		<!-- Founder Section -->
		<!-- <section id="founders" class="founders">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h2>[[${@environment.getProperty('founders_heading')} ?
						${@environment.getProperty('founders_heading')} : 'Founders']]</h2>
					<p>[[${@environment.getProperty('founders_paragraphg')} ?
						${@environment.getProperty('founders_paragraphg')} : 'Our
						Development Team']]</p>
				</div>

				<div class="row">

					<div class="col-lg-4 col-md-6">
						<div class="member" data-aos="zoom-in" data-aos-delay="100">
							<img th:src="@{/images/index/founders/nirmala.png}"
								class="img-fluid" alt="">
							<div class="member-info">
								<div class="member-info-content">
									<h4>[[${@environment.getProperty('founder1_name')} ?
										${@environment.getProperty('founder1_name')} : 'Mr. Nirmala
										Kumar Sahu']]</h4>
									<span>[[${@environment.getProperty('founder1_position')}
										? ${@environment.getProperty('founder1_position')} : 'Sr.
										Fullstack Java Developer']]</span>
								</div>
								<div class="social">
									<a href=""><i class="bi bi-twitter"></i></a> <a href=""><i
										class="bi bi-facebook"></i></a> <a href=""><i
										class="bi bi-instagram"></i></a> <a href=""><i
										class="bi bi-linkedin"></i></a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="member" data-aos="zoom-in" data-aos-delay="200">
							<img th:src="@{/images/index/founders/pabitra.jpeg}"
								class="img-fluid" alt="">
							<div class="member-info">
								<div class="member-info-content">
									<h4>[[${@environment.getProperty('founder2_name')} ?
										${@environment.getProperty('founder2_name')} : 'Mr. Pabitra
										Swain']]</h4>
									<span>[[${@environment.getProperty('founder2_position')}
										? ${@environment.getProperty('founder2_position')} : 'Sr.
										Fullstack Frontend Developer']]</span>
								</div>
								<div class="social">
									<a href=""><i class="bi bi-twitter"></i></a> <a href=""><i
										class="bi bi-facebook"></i></a> <a href=""><i
										class="bi bi-instagram"></i></a> <a href=""><i
										class="bi bi-linkedin"></i></a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="member" data-aos="zoom-in" data-aos-delay="300">
							<img th:src="@{/images/index/founders/muna.jpg}"
								class="img-fluid" alt="">
							<div class="member-info">
								<div class="member-info-content">
									<h4>[[${@environment.getProperty('founder3_name')} ?
										${@environment.getProperty('founder3_name')} : 'Mr. Muna
										Badatya']]</h4>
									<span>[[${@environment.getProperty('founder3_position')}
										? ${@environment.getProperty('founder3_position')} : 'Sr. Java
										Developer']]</span>
								</div>
								<div class="social">
									<a href=""><i class="bi bi-twitter"></i></a> <a href=""><i
										class="bi bi-facebook"></i></a> <a href=""><i
										class="bi bi-instagram"></i></a> <a href=""><i
										class="bi bi-linkedin"></i></a>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</section>  -->
		<!-- End Founders Section -->

		<!-- Contact Section -->
		<section id="contact" class="contact">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h2>[[${@environment.getProperty('contact_heading')} ?
						${@environment.getProperty('contact_heading')} : 'Contact']]</h2>
					<p>[[${@environment.getProperty('contact_paragraph')} ?
						${@environment.getProperty('contact_paragraph')} : 'Contact Us']]</p>
				</div>
			</div>

			<!-- <div data-aos="fade-up">
        		<iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
      		</div> -->

			<div class="container" data-aos="fade-up">
				<div class="row mt-5">
					<div class="col-lg-4">
						<div class="info">
							<div class="address">
								<i class="bi bi-geo-alt"></i>
								<h4>[[${@environment.getProperty('location_heading')} ?
									${@environment.getProperty('location_heading')} : 'Location:']]</h4>
								<p>[[${@environment.getProperty('location_paragraph')} ?
									${@environment.getProperty('location_paragraph')} : 'A108 Adam
									Street, New York, NY 535022']]</p>
							</div>

							<div class="open-hours">
								<i class="bi bi-clock"></i>
								<h4>[[${@environment.getProperty('open_hour_heading')} ?
									${@environment.getProperty('open_hour_heading')} : 'Open
									Hours:']]</h4>
								<p>[[${@environment.getProperty('open_hour_paragraph')} ?
									${@environment.getProperty('open_hour_paragraph')} :
									'Monday-Saturday: 11:00 AM - 23:00 PM']]</p>
							</div>

							<div class="email">
								<i class="bi bi-envelope"></i>
								<h4>[[${@environment.getProperty('email_heading')} ?
									${@environment.getProperty('email_heading')} : 'Email:']]</h4>
								<p>[[${@environment.getProperty('email_paragraph')} ?
									${@environment.getProperty('email_paragraph')} :
									'info@example.com']]</p>
							</div>

							<div class="phone">
								<i class="bi bi-phone"></i>
								<h4>[[${@environment.getProperty('call_heading')} ?
									${@environment.getProperty('call_heading')} : 'Call:']]</h4>
								<p>[[${@environment.getProperty('call_paragraph')} ?
									${@environment.getProperty('call_paragraph')} : '+1 5589 55488
									55']]</p>
							</div>
						</div>
					</div>

					<div class="col-lg-8 mt-5 mt-lg-0">
						<form action="#" method="post" role="form" class="contact-us-form">
							<div class="row">
								<div class="col-md-6 form-group">
									<input type="text" name="name" class="form-control" id="name"
										placeholder="Your Name" required>
								</div>
								<div class="col-md-6 form-group mt-3 mt-md-0">
									<input type="email" class="form-control" name="email"
										id="email" placeholder="Your Email" required>
								</div>
							</div>
							<div class="form-group mt-3">
								<input type="text" class="form-control" name="subject"
									id="subject" placeholder="Subject" required>
							</div>
							<div class="form-group mt-3">
								<textarea class="form-control" name="message" rows="8"
									placeholder="Message" required></textarea>
							</div>
							<div class="my-3">
								<div class="loading">Loading</div>
								<div class="error-message"></div>
								<div class="sent-message">[[${@environment.getProperty('sent_success_msg')}
									? ${@environment.getProperty('sent_success_msg')} : 'Your
									message has been sent. Thank you!']]</div>
							</div>
							<div class="text-center">
								<button type="submit">[[${@environment.getProperty('send_msg_btn')}
									? ${@environment.getProperty('send_msg_btn')} : 'Send
									Message']]</button>
							</div>
						</form>
					</div>

				</div>

			</div>
		</section>
		<!-- End Contact Section -->

	</main>
	<!-- End #main -->

	<!-- Footer -->
	<footer id="footer">
		<div class="footer-top">
			<div class="container">
				<div class="row">

					<div class="col-lg-8 col-md-6">
						<div class="footer-info">
							<h3>[[${@environment.getProperty('domain_name')} ?
								${@environment.getProperty('domain_name')} : 'Restro Menu
								Crafter']]</h3>

							<div class="social-links mt-3">
								<a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> <a
									href="#" class="facebook"><i class="bx bxl-facebook"></i></a> <a
									href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
								<a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
								<a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 footer-newsletter">
						<h4>[[${@environment.getProperty('subscribe_newsletter')} ?
							${@environment.getProperty('subscribe_newsletter')} : 'Subscribe
							To Our Newsletter']]</h4>
						<p>[[${@environment.getProperty('newsletter_paragraph')} ?
							${@environment.getProperty('newsletter_paragraph')} : 'To get
							more update information connect with us, by subscribe our
							Newsletter']]</p>
						<form action="" method="post">
							<input type="email" name="email"><input type="submit"
								value="Subscribe">
						</form>

					</div>

				</div>
			</div>
		</div>

		<div class="container">
			<div class="copyright">
				&copy; [[${@environment.getProperty('copy_right')} ?
				${@environment.getProperty('copy_right')} : 'Copyright']] <strong><span>[[${@environment.getProperty('domain_name')}
						? ${@environment.getProperty('domain_name')} : 'Restro Menu
						Crafter']]</span></strong>. [[${@environment.getProperty('all_rights_reserved')} ?
				${@environment.getProperty('all_rights_reserved')} : 'All Rights
				Reserved']]
			</div>
		</div>
	</footer>
	<!-- End Footer -->

	<div id="preloader"></div>
	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

	<!-- Own JS -->
	<script type="text/javascript" th:src="@{/js/index.js}"></script>
	
</body>
</html>